<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
		<key>Lazyman</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^http://mf.svc.nhl.com/m3u8/.+</string>
				<string>^ipad:http:\/\/mf\.svc\.nhl\.com\/m3u8\/.+$</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
